<?xml version="0.5" encoding="utf-8"?>
<TextureAtlas imagePath="springbonnie.png">
	<!-- Created with Adobe Animate version 20.5.1.31044 -->
	<!-- http://www.adobe.com/products/animate.html -->
	<SubTexture name="idle0000" x="0" y="0" width="33.5" height="97" frameX="-3" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0001" x="0" y="0" width="33.5" height="97" frameX="-3" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0002" x="34" y="0" width="39.5" height="92" frameX="0" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0003" x="34" y="0" width="39.5" height="92" frameX="0" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0004" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0005" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0006" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0007" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0008" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0009" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0010" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0011" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0012" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0013" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0014" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0015" x="74" y="0" width="36.5" height="93.5" frameX="-1.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0016" x="111" y="0" width="39.5" height="85" frameX="0" frameY="-12" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0017" x="111" y="0" width="39.5" height="85" frameX="0" frameY="-12" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0018" x="151" y="0" width="34.5" height="90" frameX="-2.5" frameY="-6.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0019" x="151" y="0" width="34.5" height="90" frameX="-2.5" frameY="-6.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0020" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0021" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0022" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0023" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0024" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0025" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0026" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0027" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0028" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0029" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0030" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0031" x="186" y="0" width="36.5" height="88" frameX="-1.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0032" x="0" y="97.5" width="34" height="96.5" frameX="-8" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0033" x="0" y="97.5" width="34" height="96.5" frameX="-8" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0034" x="34.5" y="97.5" width="38.5" height="92" frameX="-5.5" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0035" x="34.5" y="97.5" width="38.5" height="92" frameX="-5.5" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0036" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0037" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0038" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0039" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0040" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0041" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0042" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0043" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0044" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0045" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0046" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0047" x="73.5" y="97.5" width="36.5" height="93.5" frameX="-6.5" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0048" x="110.5" y="97.5" width="40" height="85.5" frameX="-5" frameY="-11.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0049" x="110.5" y="97.5" width="40" height="85.5" frameX="-5" frameY="-11.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0050" x="151" y="97.5" width="35" height="90" frameX="-7.5" frameY="-7" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0051" x="151" y="97.5" width="35" height="90" frameX="-7.5" frameY="-7" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0052" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0053" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0054" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0055" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0056" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0057" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0058" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0059" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0060" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0061" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0062" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0063" x="186.5" y="97.5" width="36.5" height="88" frameX="-6.5" frameY="-8.5" frameWidth="45" frameHeight="97"/>
</TextureAtlas>
