<?xml version="0.25" encoding="utf-8"?>
<TextureAtlas imagePath="springbonnie.png">
	<!-- Created with Adobe Animate version 20.5.1.31044 -->
	<!-- http://www.adobe.com/products/animate.html -->
	<SubTexture name="idle0000" x="0" y="0" width="16.75" height="48.5" frameX="-1.5" frameY="0" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0001" x="0" y="0" width="16.75" height="48.5" frameX="-1.5" frameY="0" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0002" x="17" y="0" width="19.75" height="46" frameX="0" frameY="-2.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0003" x="17" y="0" width="19.75" height="46" frameX="0" frameY="-2.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0004" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0005" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0006" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0007" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0008" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0009" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0010" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0011" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0012" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0013" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0014" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0015" x="37" y="0" width="18.25" height="46.75" frameX="-0.75" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0016" x="55.5" y="0" width="19.75" height="42.5" frameX="0" frameY="-6" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0017" x="55.5" y="0" width="19.75" height="42.5" frameX="0" frameY="-6" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0018" x="75.5" y="0" width="17.25" height="45" frameX="-1.25" frameY="-3.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0019" x="75.5" y="0" width="17.25" height="45" frameX="-1.25" frameY="-3.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0020" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0021" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0022" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0023" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0024" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0025" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0026" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0027" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0028" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0029" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0030" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0031" x="93" y="0" width="18.25" height="44" frameX="-0.75" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0032" x="0" y="48.75" width="17" height="48.25" frameX="-4" frameY="0" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0033" x="0" y="48.75" width="17" height="48.25" frameX="-4" frameY="0" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0034" x="17.25" y="48.75" width="19.25" height="46" frameX="-2.75" frameY="-2.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0035" x="17.25" y="48.75" width="19.25" height="46" frameX="-2.75" frameY="-2.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0036" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0037" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0038" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0039" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0040" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0041" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0042" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0043" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0044" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0045" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0046" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0047" x="36.75" y="48.75" width="18.25" height="46.75" frameX="-3.25" frameY="-1.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0048" x="55.25" y="48.75" width="20" height="42.75" frameX="-2.5" frameY="-5.75" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0049" x="55.25" y="48.75" width="20" height="42.75" frameX="-2.5" frameY="-5.75" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0050" x="75.5" y="48.75" width="17.5" height="45" frameX="-3.75" frameY="-3.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0051" x="75.5" y="48.75" width="17.5" height="45" frameX="-3.75" frameY="-3.5" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0052" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0053" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0054" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0055" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0056" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0057" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0058" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0059" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0060" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0061" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0062" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
	<SubTexture name="idle0063" x="93.25" y="48.75" width="18.25" height="44" frameX="-3.25" frameY="-4.25" frameWidth="22.5" frameHeight="48.5"/>
</TextureAtlas>
