<?xml version="0.25" encoding="utf-8"?>
<TextureAtlas imagePath="springtrap7.png">
	<!-- Created with Adobe Animate version 20.5.1.31044 -->
	<!-- http://www.adobe.com/products/animate.html -->
	<SubTexture name="Dad Sing Note DOWN0000" x="0" y="0" width="92.25" height="162.5" frameX="-2.5" frameY="-15.25" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0001" x="92.5" y="0" width="73" height="141" frameX="-5" frameY="-36.75" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0002" x="165.75" y="0" width="68.5" height="136.5" frameX="-5.75" frameY="-41.25" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0003" x="234.5" y="0" width="68" height="136" frameX="-5.25" frameY="-41.75" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0004" x="302.75" y="0" width="69.25" height="136.25" frameX="-4" frameY="-41.5" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0005" x="372.25" y="0" width="70.75" height="137.75" frameX="-3" frameY="-40" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0006" x="443.25" y="0" width="76.75" height="139.75" frameX="-2.5" frameY="-38" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0007" x="520.25" y="0" width="86.5" height="144.5" frameX="0" frameY="-33.25" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0008" x="607" y="0" width="90.75" height="147.75" frameX="-2.25" frameY="-30" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0009" x="698" y="0" width="96" height="157.75" frameX="-0.25" frameY="-20" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0010" x="794.25" y="0" width="93" height="168.25" frameX="-2.75" frameY="-9.5" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note DOWN0011" x="887.5" y="0" width="92" height="177.75" frameX="-2.75" frameY="0" frameWidth="96.25" frameHeight="177.75"/>
	<SubTexture name="Dad Sing Note LEFT0000" x="979.75" y="0" width="116" height="177" frameX="-14.25" frameY="-1" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0001" x="1096" y="0" width="118.5" height="165.5" frameX="0" frameY="-12.5" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0002" x="1214.75" y="0" width="118.5" height="164.75" frameX="0" frameY="-13.25" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0003" x="1333.5" y="0" width="117.5" height="163" frameX="-1" frameY="-15" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0004" x="0" y="178" width="116.5" height="162" frameX="-2" frameY="-16" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0005" x="116.75" y="178" width="115.25" height="160.75" frameX="-3.25" frameY="-17.25" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0006" x="232.25" y="178" width="113.75" height="157.75" frameX="-4.75" frameY="-20.25" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0007" x="346.25" y="178" width="111" height="159.5" frameX="-7.5" frameY="-18.5" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0008" x="457.5" y="178" width="110.75" height="164.5" frameX="-13.25" frameY="-13.5" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0009" x="568.5" y="178" width="112" height="172.5" frameX="-24.5" frameY="-5.5" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0010" x="680.75" y="178" width="101.5" height="178" frameX="-40" frameY="0" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note LEFT0011" x="782.5" y="178" width="92" height="178" frameX="-48" frameY="0" frameWidth="141.5" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0000" x="874.75" y="178" width="115" height="166.5" frameX="-3.5" frameY="-11.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0001" x="990" y="178" width="120.5" height="156.5" frameX="-3.5" frameY="-21.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0002" x="1110.75" y="178" width="122.75" height="154.25" frameX="-3.5" frameY="-23.75" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0003" x="1233.75" y="178" width="121" height="153.5" frameX="-3.5" frameY="-24.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0004" x="1355" y="178" width="117" height="153.5" frameX="-3.5" frameY="-24.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0005" x="0" y="356.25" width="111.5" height="154.5" frameX="-3.5" frameY="-23.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0006" x="111.75" y="356.25" width="111.5" height="156.5" frameX="-3.5" frameY="-21.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0007" x="223.5" y="356.25" width="112.5" height="158.5" frameX="-3.5" frameY="-19.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0008" x="336.25" y="356.25" width="112" height="160.75" frameX="-3.5" frameY="-17.25" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0009" x="448.5" y="356.25" width="107.75" height="161.5" frameX="-3" frameY="-16.5" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0010" x="556.5" y="356.25" width="101.75" height="170.25" frameX="0" frameY="-7.75" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note RIGHT0011" x="658.5" y="356.25" width="92" height="178" frameX="0" frameY="0" frameWidth="126.25" frameHeight="178"/>
	<SubTexture name="Dad Sing Note UP0000" x="750.75" y="356.25" width="134" height="179.75" frameX="0" frameY="-0.25" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0001" x="885" y="356.25" width="128.25" height="175" frameX="-5.75" frameY="-5" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0002" x="1013.5" y="356.25" width="123.75" height="165.75" frameX="-8.75" frameY="-14.25" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0003" x="1137.5" y="356.25" width="123.25" height="157.25" frameX="-9.75" frameY="-22.75" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0004" x="1261" y="356.25" width="123.5" height="153" frameX="-10.5" frameY="-27" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0005" x="0" y="536.25" width="122" height="152.25" frameX="-12.5" frameY="-27.75" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0006" x="122.25" y="536.25" width="122.75" height="154" frameX="-12" frameY="-26" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0007" x="245.25" y="536.25" width="126" height="159.5" frameX="-9" frameY="-20.5" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0008" x="371.5" y="536.25" width="126.75" height="168.5" frameX="-7.75" frameY="-11.5" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0009" x="498.5" y="536.25" width="122.25" height="178" frameX="-10.75" frameY="-2" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0010" x="621" y="536.25" width="108" height="180" frameX="-20.5" frameY="0" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad Sing Note UP0011" x="729.25" y="536.25" width="92" height="178" frameX="-29" frameY="-2" frameWidth="135" frameHeight="180"/>
	<SubTexture name="Dad idle dance0000" x="821.5" y="536.25" width="92" height="178" frameX="-20.25" frameY="0" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0001" x="913.75" y="536.25" width="94.25" height="177.5" frameX="-20.25" frameY="-0.5" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0002" x="1008.25" y="536.25" width="95.75" height="175.25" frameX="-20.25" frameY="-2.75" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0003" x="1104.25" y="536.25" width="94.25" height="172" frameX="-20.5" frameY="-6" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0004" x="1198.75" y="536.25" width="90.5" height="168.5" frameX="-21" frameY="-9.5" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0005" x="1289.5" y="536.25" width="82.75" height="166" frameX="-22.25" frameY="-12" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0006" x="1372.5" y="536.25" width="74" height="163.75" frameX="-23.75" frameY="-14.25" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0007" x="0" y="716.5" width="67" height="162.5" frameX="-23.75" frameY="-15.5" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0008" x="67.25" y="716.5" width="67" height="161.5" frameX="-23.75" frameY="-16.5" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0009" x="134.5" y="716.5" width="67" height="161.75" frameX="-23.75" frameY="-16.25" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0010" x="201.75" y="716.5" width="67.5" height="163" frameX="-23.75" frameY="-15" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0011" x="269.5" y="716.5" width="70.75" height="164.5" frameX="-21" frameY="-13.5" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0012" x="340.5" y="716.5" width="75.5" height="166" frameX="-16.5" frameY="-12" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0013" x="416.25" y="716.5" width="81" height="168" frameX="-11.25" frameY="-10" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0014" x="497.5" y="716.5" width="85.75" height="168.75" frameX="-6.25" frameY="-9.25" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0015" x="583.5" y="716.5" width="89.5" height="168.5" frameX="-2.25" frameY="-9.5" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0016" x="673.25" y="716.5" width="91.25" height="167" frameX="-0.5" frameY="-11" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0017" x="764.75" y="716.5" width="92.75" height="165.5" frameX="0" frameY="-12.5" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0018" x="857.75" y="716.5" width="93.25" height="165" frameX="-0.25" frameY="-13" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0019" x="951.25" y="716.5" width="95" height="166.25" frameX="-1.75" frameY="-11.75" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0020" x="1046.5" y="716.5" width="95.5" height="169" frameX="-4.25" frameY="-9" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0021" x="1142.25" y="716.5" width="93.5" height="172" frameX="-9.25" frameY="-6" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0022" x="1236" y="716.5" width="90.75" height="175" frameX="-15.5" frameY="-3" frameWidth="116" frameHeight="178"/>
	<SubTexture name="Dad idle dance0023" x="1327" y="716.5" width="89" height="177" frameX="-20.75" frameY="-1" frameWidth="116" frameHeight="178"/>
</TextureAtlas>
