<?xml version="0.5" encoding="utf-8"?>
<TextureAtlas imagePath="springtrap5.png">
	<!-- Created with Adobe Animate version 20.5.1.31044 -->
	<!-- http://www.adobe.com/products/animate.html -->
	<SubTexture name="Dad Sing Note DOWN0000" x="0" y="0" width="366.5" height="179" frameX="0" frameY="-37.5" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0001" x="367" y="0" width="365" height="179.5" frameX="-7.5" frameY="-37" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0002" x="732.5" y="0" width="359.5" height="188" frameX="-13" frameY="-28.5" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0003" x="1092.5" y="0" width="353" height="195" frameX="-18.5" frameY="-21.5" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0004" x="1446" y="0" width="347.5" height="197.5" frameX="-22.5" frameY="-19" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0005" x="1794" y="0" width="345.5" height="195" frameX="-22" frameY="-21.5" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0006" x="2140" y="0" width="348" height="188.5" frameX="-17" frameY="-28" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0007" x="2488.5" y="0" width="350.5" height="184" frameX="-11.5" frameY="-32.5" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0008" x="2839.5" y="0" width="353.5" height="189" frameX="-6.5" frameY="-27.5" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0009" x="0" y="198" width="351.5" height="196.5" frameX="-5.5" frameY="-20" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0010" x="352" y="198" width="348" height="209" frameX="-4" frameY="-9.5" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note DOWN0011" x="700.5" y="198" width="344" height="227" frameX="-2" frameY="0" frameWidth="372.5" frameHeight="227"/>
	<SubTexture name="Dad Sing Note LEFT0000" x="1045" y="198" width="326" height="234" frameX="-7" frameY="-19" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0001" x="1371.5" y="198" width="276" height="248" frameX="0" frameY="-5" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0002" x="1648" y="198" width="267" height="252" frameX="-3" frameY="-1" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0003" x="1915.5" y="198" width="258" height="253" frameX="-10.5" frameY="0" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0004" x="2174" y="198" width="252" height="253" frameX="-18.5" frameY="0" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0005" x="2426.5" y="198" width="250" height="252" frameX="-24.5" frameY="-1" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0006" x="2677" y="198" width="254.5" height="250.5" frameX="-26" frameY="-2.5" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0007" x="2932" y="198" width="265.5" height="248.5" frameX="-24" frameY="-4.5" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0008" x="0" y="451.5" width="280.5" height="245" frameX="-21" frameY="-8" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0009" x="281" y="451.5" width="308.5" height="238" frameX="-17.5" frameY="-15" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0010" x="590" y="451.5" width="340.5" height="234" frameX="-18.5" frameY="-25" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note LEFT0011" x="931" y="451.5" width="345.5" height="231.5" frameX="-26" frameY="-36.5" frameWidth="371.5" frameHeight="268"/>
	<SubTexture name="Dad Sing Note RIGHT0000" x="1277" y="451.5" width="260" height="212" frameX="-73" frameY="-8.5" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0001" x="1537.5" y="451.5" width="202" height="209" frameX="-109" frameY="-7.5" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0002" x="1740" y="451.5" width="197.5" height="210.5" frameX="-109" frameY="-6" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0003" x="1938" y="451.5" width="195" height="210" frameX="-109" frameY="-6.5" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0004" x="2133.5" y="451.5" width="194" height="208.5" frameX="-109" frameY="-8" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0005" x="2328" y="451.5" width="197" height="206.5" frameX="-108.5" frameY="-10" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0006" x="2525.5" y="451.5" width="205" height="205" frameX="-108" frameY="-11.5" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0007" x="2731" y="451.5" width="225" height="203.5" frameX="-97.5" frameY="-13" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0008" x="2956.5" y="451.5" width="267.5" height="207.5" frameX="-65.5" frameY="-12" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0009" x="0" y="697" width="313.5" height="218" frameX="-27.5" frameY="-9" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0010" x="314" y="697" width="339.5" height="226" frameX="-5.5" frameY="-5" frameWidth="345.5" frameHeight="231.5"/>
	<SubTexture name="Dad Sing Note RIGHT0011" x="654" y="697" width="345.5" height="231.5"/>
	<SubTexture name="Dad Sing Note UP0000" x="1000" y="697" width="295.5" height="251.5" frameX="-49.5" frameY="-49" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0001" x="1296" y="697" width="217" height="302.5" frameX="-87" frameY="-7" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0002" x="1513.5" y="697" width="196" height="308" frameX="-91" frameY="0" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0003" x="1710" y="697" width="188.5" height="300" frameX="-90.5" frameY="-4.5" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0004" x="1899" y="697" width="191.5" height="292" frameX="-89.5" frameY="-9" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0005" x="2091" y="697" width="201.5" height="290.5" frameX="-88.5" frameY="-10" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0006" x="2293" y="697" width="216" height="293" frameX="-84.5" frameY="-7.5" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0007" x="2509.5" y="697" width="241.5" height="297" frameX="-76.5" frameY="-3.5" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0008" x="2751.5" y="697" width="273" height="296" frameX="-60.5" frameY="-4.5" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0009" x="0" y="1005.5" width="305" height="279" frameX="-44" frameY="-21.5" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0010" x="305.5" y="1005.5" width="332" height="245" frameX="-21" frameY="-55.5" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad Sing Note UP0011" x="638" y="1005.5" width="345.5" height="231.5" frameX="0" frameY="-84" frameWidth="353" frameHeight="315.5"/>
	<SubTexture name="Dad idle dance0000" x="984" y="1005.5" width="341" height="226.5" frameX="0" frameY="-21.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0001" x="1325.5" y="1005.5" width="334" height="222" frameX="-3" frameY="-21" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0002" x="1660" y="1005.5" width="328" height="218" frameX="-8" frameY="-18" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0003" x="1988.5" y="1005.5" width="320.5" height="224" frameX="-15" frameY="-12" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0004" x="2309.5" y="1005.5" width="311" height="228" frameX="-25" frameY="-8" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0005" x="2621" y="1005.5" width="301.5" height="230.5" frameX="-36" frameY="-5.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0006" x="2923" y="1005.5" width="291" height="236" frameX="-48" frameY="-3.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0007" x="0" y="1285" width="277.5" height="249" frameX="-64" frameY="-2" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0008" x="278" y="1285" width="261.5" height="262" frameX="-82.5" frameY="-1" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0009" x="540" y="1285" width="245.5" height="272.5" frameX="-102.5" frameY="0" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0010" x="786" y="1285" width="239" height="277" frameX="-111" frameY="-2" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0011" x="1025.5" y="1285" width="242" height="277.5" frameX="-110.5" frameY="-5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0012" x="1268" y="1285" width="245" height="272.5" frameX="-110" frameY="-11" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0013" x="1513.5" y="1285" width="248" height="261.5" frameX="-109" frameY="-21" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0014" x="1762" y="1285" width="248" height="250.5" frameX="-108" frameY="-30" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0015" x="2010.5" y="1285" width="243.5" height="244" frameX="-107" frameY="-32.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0016" x="2254.5" y="1285" width="237" height="238.5" frameX="-106" frameY="-32.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0017" x="2492" y="1285" width="232" height="231" frameX="-105" frameY="-32" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0018" x="2724.5" y="1285" width="250" height="220" frameX="-83.5" frameY="-31" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0019" x="2975" y="1285" width="274.5" height="205.5" frameX="-61" frameY="-30.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0020" x="0" y="1563" width="301" height="206.5" frameX="-43" frameY="-29.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0021" x="301.5" y="1563" width="321.5" height="210" frameX="-28.5" frameY="-26" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0022" x="623.5" y="1563" width="338.5" height="214.5" frameX="-14" frameY="-21.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0023" x="962.5" y="1563" width="345" height="221" frameX="-6" frameY="-15" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0024" x="1308" y="1563" width="342.5" height="229" frameX="-3.5" frameY="-7" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0025" x="1651" y="1563" width="340" height="237.5" frameX="-4.5" frameY="-0.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0026" x="1991.5" y="1563" width="340.5" height="242.5" frameX="-4.5" frameY="-1.5" frameWidth="357" frameHeight="283.5"/>
	<SubTexture name="Dad idle dance0027" x="2332.5" y="1563" width="344.5" height="239.5" frameX="-1.5" frameY="-9" frameWidth="357" frameHeight="283.5"/>
</TextureAtlas>
